{% include 'shogun-content-handler' %}
<!doctype html>

<html class="no-js" lang="{{ request.locale.iso_code }}" dir="{% render 'direction' %}">
  <head>
    {% include 'booster-seo' %}
    {% render 'gcm-integration-script' %}
    <!-- Google Tag Manager -->
    <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://analytics.sophia-mae.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-PMSCK22');
    </script>
    <!-- End Google Tag Manager -->
    {% if handle contains 'aura-tester-size' %}
      <meta name="robots" content="noindex">
    {% endif %}
    {% if handle contains 'laundry-perfume-eos-tester-size-13ml' %}
      <meta name="robots" content="noindex">
    {% endif %}
    {% if handle contains 'sticker-sheet' %}
      <meta name="robots" content="noindex">
    {% endif %}
    {% if handle contains 'sophia-mae-tote-bag' %}
      <meta name="robots" content="noindex">
    {% endif %}
    <meta charset="utf-8">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, maximum-scale=5.0"
    >

    {% comment %}<title>{% if page_title == blank %}{{ shop.name }}{% else %}{{ page_title }}{% if current_page != 1 %} &ndash; {{ 'general.page' | t: page: current_page }}{% endif %}{% endif %}</title>{% endcomment %}

    {%- if page_description -%}
      {% comment %}<meta name="description" content="{{ page_description | escape }}">{% endcomment %}
    {%- endif -%}

    <link rel="canonical" href="{{ canonical_url }}">

    {%- if settings.favicon -%}
      <link rel="shortcut icon" href="{{ settings.favicon | image_url: width: 96 }}">
      <link rel="apple-touch-icon" href="{{ settings.favicon | image_url: width: 180 }}">
    {%- endif -%}
    <link rel="preload" as="script" href="{{ 'min-swiper.js' | asset_url }}">

    {%- comment -%}Few prefetch to increase performance on commonly used third-parties{%- endcomment -%}
    <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- comment -%}<link rel="dns-prefetch" href="https://productreviews.shopifycdn.com">{%- endcomment -%}

    {%- comment -%}
      {%- unless settings.heading_font.system? -%}
        <link rel="preload" href="{{ settings.heading_font | font_url }}" as="font" type="font/woff2" crossorigin>
      {%- endunless -%}

      {%- unless settings.text_font.system? -%}
        <link rel="preload" href="{{ settings.text_font | font_url }}" as="font" type="font/woff2" crossorigin>
      {%- endunless -%}
    {%- endcomment -%}

    {%- render 'social-meta-tags' -%}
    {%- render 'microdata-schema' -%}
    {%- render 'font-family' -%}
    {%- render 'css-variables' -%}
    {%- render 'js-variables' -%}

    {%- if request.page_type == 'gift_card' -%}
      <script src="{{ 'vendor/qrcode.js' | shopify_asset_url }}" defer></script>
    {%- endif -%}

    <script async src="{{ 'es-module-shims.min.js' | asset_url }}"></script>

    <script>
      // Define setButtonByProductStatus function early in global scope
      window.setButtonByProductStatus = async function(cart) {
        if (cart instanceof Promise) cart = await cart;
        if (!cart || !cart.items) return;

        const ATCButtonsToChange = document.querySelectorAll(`button[data-product-condition]`);
        const productStatusDataElement = document.querySelector('.product-status__object');
        const productStatusData = productStatusDataElement && JSON.parse(productStatusDataElement.innerHTML).archived_products;
        const hasArchivedProducts = cart.items.some(item => productStatusData.includes(item.product_id));
        const hasCommonProducts = cart.items.some(item => !productStatusData.includes(item.product_id));

        setTimeout(() => {
          document.querySelectorAll('button[name="checkout"]').forEach(checkoutButton => {
            checkoutButton.style.pointerEvent = hasArchivedProducts && hasCommonProducts ? 'none' : 'auto';
            checkoutButton.disabled = hasArchivedProducts && hasCommonProducts;
          });
        }, 300);

        ATCButtonsToChange.forEach(button => {
          const isCurrentButtonArchived = button.dataset.productCondition === "archived";
          
          if (cart.items.length) {
            const isDisabledToAdd = hasArchivedProducts !== isCurrentButtonArchived;
            button.parentElement?.classList.toggle('ProductForm__AddToCart--has-error', isDisabledToAdd);
            button.disabled = isDisabledToAdd;
          } else {
            button.parentElement?.classList.remove('ProductForm__AddToCart--has-error');
            button.disabled = false;
          }
        });

        const karmaProductButtons = document.querySelectorAll(".lion-rewards-list .lion-action-button.lion-action-button--tile");
        karmaProductButtons.forEach(karmaButton => {
          if (cart.items.length) {
            const isDisabledToAdd = hasArchivedProducts;
            const errorDiv = createErrorMessage(isDisabledToAdd);
            karmaButton.insertAdjacentElement("beforebegin", errorDiv);
            karmaButton.disabled = isDisabledToAdd;
          } else {
            const errorDiv = createErrorMessage(false);
            karmaButton.insertAdjacentElement("beforebegin", errorDiv);
            karmaButton.disabled = false;
          }
        });

        function createErrorMessage(hasArchivedProducts) {
          const defaultTexts = {
            inCart: "Not able to add this Reward due to Archive product in cart",
          };
          const { inCart } = window.karmaTexts || defaultTexts;
          const baseClassName = "lion-reward-item__actions-error";
          const additionalClass = hasArchivedProducts ? "" : "lion-reward-item__actions-error--hide";
          const className = `${baseClassName} ${additionalClass}`;

          const errorDiv = document.createElement("div");
          errorDiv.className = className.trim();
          errorDiv.innerHTML = hasArchivedProducts ? inCart : "";

          return errorDiv;
        }
      };
    </script>

    <script type="importmap">
      {%- comment -%}On Safari 16.3 and lower, a polyfill is used to load importmap{%- endcomment -%}
      {
        "imports": {
          "vendor": "{{ 'vendor.min.js' | asset_url }}",
          "theme": "{{ 'theme.js' | asset_url }}",
          "photoswipe": "{{ 'photoswipe.min.js' | asset_url }}"
        }
      }
    </script>
    <script src="{{ 'custom.js' | asset_url }}" defer></script>
    <script type="module" src="{{ 'vendor.min.js' | asset_url }}" defer></script>
    <script type="module" src="{{ 'theme.js' | asset_url }}" defer></script>
    <script src="{{ 'min-swiper.js' | asset_url }}" defer></script>

    {{ content_for_header }}
    {{- 'theme.css' | asset_url | stylesheet_tag -}}
    {{- 'custom.css' | asset_url | stylesheet_tag -}}
    
    <!-- begin Convert Experiences code 
    <script type="text/javascript">
      var _conv_page_type = '{{ request.page_type }}';
      var _conv_category_id = '{{ collection.id }}';
      var _conv_category_name = '{{ collection.title }}';
      var _conv_product_sku = '{{ product.selected_variant.sku }}';
      var _conv_product_name = '{{ product.title }}';
      var _conv_product_price = '{{ product.price_min | money_without_currency }}';
      var _conv_customer_id = '{{ customer.id }}';
      var _conv_custom_v1 = '{{ product.tags.first }}';
      var _conv_custom_v2 = '{{ collection.current_type }}';
      var _conv_custom_v3 = '{{ cart.item_count }}';
      var _conv_custom_v4 = '{{ cart.total_price | money_without_currency }}'; 
    </script> -->
 <!-- <script type="text/javascript" src="//cdn-3.convertexperiments.com/js/1002628-10025495.js"></script> -->
    <!-- end Convert Experiences code -->

    {% render 'shogun-head' %}
  </head>

  {% liquid
    assign features_class = ''

    if settings.show_button_transition
      assign features_class = features_class | append: 'features--button-transition '
    endif

    if settings.show_image_zoom_on_hover
      assign features_class = features_class | append: 'features--zoom-image '
    endif

    if settings.show_page_transition
      assign features_class = features_class | append: 'features--page-transition '
    endif
  %}

  <body class="{{ features_class }}">
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://analytics.sophia-mae.com/ns.html?id=GTM-PMSCK22"
        height="0"
        width="0"
        style="display:none;visibility:hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {%- render 'shadow-dom-templates' -%}

    <loading-bar class="loading-bar" aria-hidden="true"></loading-bar>
    <a href="#main" allow-hash-change class="skip-to-content sr-only">
      {{- 'general.accessibility.skip_to_content' | t -}}
    </a>

    {%- if request.page_type != 'password' -%}
      {%- sections 'header-group' -%}
      {%- sections 'overlay-group' -%}
    {%- endif -%}

    <main id="main" class="anchor">
      {{ content_for_layout }}
    </main>

    {%- if request.page_type != 'password' -%}
      {%- sections 'footer-group' -%}
    {%- endif -%}

    <script type="application/json" class="product-status__object">
      {
        "archived_products": [
          {%- paginate collections['archive'].products by 1000 -%}
            {%- for product in collections['archive'].products -%}
              {{- product.id -}}
              {%- unless forloop.last -%},{%- endunless -%}
            {%- endfor -%}
          {%- endpaginate -%}
        ]
      }
    </script>

    {% if request.locale.iso_code == 'en' %}
      <script src="https://a.klaviyo.com/media/js/onsite/onsite.js"></script>
      <script>
        var klaviyo = klaviyo || [];
        klaviyo.init({
          account: 'TDGmpn',
          list: 'T9KSQF',
          platform: 'shopify',
          display_on_policy_continue: true,
        });
        klaviyo.enable('backinstock', {
          trigger: {
            product_page_text: 'Notify Me When Available',
            product_page_class: 'ProductForm__AddToCart button w-full Button--bis',
            product_page_text_align: 'center',
            product_page_margin: '0px',
            replace_anchor: true,
          },
          modal: {
            headline: '{product_name}',
            body_content: 'Register to be the first to receive a notification when this item comes back in stock.',
            email_field_label: 'E-mail',
            button_label: 'Notify me when available',
            subscription_success_label: "You're in! We'll let you know when it's back.",
            footer_content: '',
            drop_background_color: '#000',
            background_color: '#fff',
            text_color: '#222',
            button_text_color: '#fff',
            button_background_color: '#1C1B1B',
            close_button_color: '#ccc',
            error_background_color: '#fcd6d7',
            error_text_color: '#C72E2F',
            success_background_color: '#d3efcd',
            success_text_color: '#1B9500',
            newsletter_subscribe_label:
              'Join our community & be the first to know about new product launches, exclusive events and special benefits.',
            font_family: 'Helvetica',
            subscribe_checked: false,
          },
        });
      </script>
    {% elsif request.locale.iso_code == 'nl' %}
      <script src="https://a.klaviyo.com/media/js/onsite/onsite.js"></script>
      <script>
        var klaviyo = klaviyo || [];
        klaviyo.init({
          account: 'TDGmpn',
          list: 'T9KSQF',
          platform: 'shopify',
          display_on_policy_continue: true,
        });
        klaviyo.enable('backinstock', {
          trigger: {
            product_page_text: 'Snel terug',
            product_page_class: 'button w-full',
            product_page_text_align: 'center',
            product_page_margin: '0px',
            replace_anchor: true,
          },
          modal: {
            headline: '{product_name}',
            body_content: 'Schrijf je in om als eerste op de hoogte te zijn wanneer dit item weer op voorraad is.',
            email_field_label: 'E-mail',
            button_label: 'Ontvang een notificatie bij beschikbaarheid',
            subscription_success_label: "Je bent ingeschreven! We laten je weten zodra het terug op voorraad is.",
            footer_content: '',
            drop_background_color: '#000',
            background_color: '#fff',
            text_color: '#222',
            button_text_color: '#fff',
            button_background_color: '#1C1B1B',
            close_button_color: '#ccc',
            error_background_color: '#fcd6d7',
            error_text_color: '#C72E2F',
            success_background_color: '#d3efcd',
            success_text_color: '#1B9500',
            newsletter_subscribe_label:
              'Word lid van onze community en wees als eerste op de hoogte van nieuwe productlanceringen, exclusieve content en andere privileges.',
            font_family: 'Helvetica',
            subscribe_checked: false,
          },
        });
      </script>
    {% endif %}

    <script>
      var _learnq = _learnq || [];
       _learnq.push(['identify', {
         {%  if customer.email %}
         '$email': '{{customer.email}}',
         {% endif %}
         'shopify_locale': '{{ request.locale.iso_code }}-{{localization.country.iso_code}}',
         'Language_pref': '{{ localization.language.iso_code | upcase | append: "_pref" }}'
       }]);
    </script>
    <script>
      var HIDE_POWERED_BY_GORGIAS = true;
    </script>

    <!-- Gorgias Chat Widget Start -->
    {% if request.locale.iso_code == 'en' %}
      <script
        id="gorgias-chat-widget-install-v3"
        src="https://config.gorgias.chat/bundle-loader/01GYCCWKGDRRJEJB58B9VNH8RN?source=shopify1click"
      ></script>
    {% elsif request.locale.iso_code == 'nl' %}
      <script
        id="gorgias-chat-widget-install-v3"
        src="https://config.gorgias.chat/bundle-loader/01GYCCWKGDRRJEJB58B9VNH8RN?source=shopify1click"
      ></script>
    {% else %}
      <script
        id="gorgias-chat-widget-install-v3"
        src="https://config.gorgias.chat/bundle-loader/01GYCCWKGDRRJEJB58B9VNH8RN?source=shopify1click"
      ></script>
    {% endif %}
    <script id="gorgias-chat-shopify-install">
      !(function (_) {
        (_.SHOPIFY_PERMANENT_DOMAIN = '{{shop.permanent_domain}}'),
          (_.SHOPIFY_CUSTOMER_ID = '{{customer.id}}'),
          (_.SHOPIFY_CUSTOMER_EMAIL = '{{customer.email}}');
      })(window || {});
    </script>
    <script>
      var initGorgiasChatPromise = (window.GorgiasChat) ? window.GorgiasChat.init() : new Promise(function (resolve) { window.addEventListener('gorgias-widget-loaded', function () { resolve();})});

      initGorgiasChatPromise.then(function() {
          var chatDict = {
          contactFormEndingMessageWithHelpCenter: "Thanks for your message, muse. We'll respond to you via email soon. In the meantime, visit our Help Center.",
          emailCaptureThanksText: "Thanks for reaching out, muse! You'll get replies here and in your email.",
          howCanWeHelpToday: "How may we help you today, muse?",
          contactFormAskSubject: "How may we help you today, muse?",
          requireEmailCaptureIntro: "Hi muse, we hope you're doing well! Leave us your email so we can get back to you.",
          }
          window.GORGIAS_CHAT_TEXTS = chatDict
          GorgiasChat.updateTexts(chatDict)
      })
    </script>

    <style>
      #gorgias-chat-container iframe#chat-window,
      #gorgias-chat-container iframe#chat-campaigns {
          z-index: 99 !important;
      }
      #gorgias-chat-container iframe#chat-button {
          z-index: 99 !important;
      }
    </style>
    <!-- Gorgias Chat Widget End -->

    {% render 'kd-gtm' %}

    <!-- PickyStory snippet "main_widget_script", do not modify. Safe to remove after the app is uninstalled -->
    {% if content_for_header contains 'pickystory' %}
      <script defer src="https://cdn.pickystory.com/widget/dist/latest/pickystory-widget.min.js"></script>
    {% endif %}
    <!-- PickyStory end snippet "main_widget_script" -->
    <script src="{{ 'cart-drawer-also-like.js' | asset_url }}"></script>
    <script>
      window.karmaTexts = {
        inCart: {{settings.reward_page_message | json }}
      }
    </script>

    {% if request.locale.iso_code == 'nl' %}
      <script>
        function replaceFooterLinks(oldFullURL, newFullURL) {
            const selector = `.footer .link-faded[href="${oldFullURL}"]`;
            const links = document.querySelectorAll(selector);
        
            links.forEach(link => {
                if (link.href === oldFullURL) {
                    link.href = newFullURL;
                }
            });
        }
        
        replaceFooterLinks('https://help.sophia-mae.com/en-US', 'https://help.sophia-mae.com/nl-NL');
      </script>
    {% endif %}
    {% if product %}
      <script>
  window.addEventListener('load', function() {
  var _learnq = window._learnq || [];
  function addedToCart() {
   fetch(`${window.location.origin}/cart.js`)
   .then(res => res.clone().json().then(data => {
    var cart = {
      total_price: data.total_price/100,
      $value: data.total_price/100,
      total_discount: data.total_discount,
      original_total_price: data.original_total_price/100,
      items: data.items
    }
    if (item !== 'undefined') {
      cart = Object.assign(cart, item)
    }
    if (klAjax) {
       _learnq.push(['track', 'Added to Cart', cart]);
       klAjax = false;
      }
   }))
  };
  (function (ns, fetch) {
    ns.fetch = function() {
      const response = fetch.apply(this, arguments);
      response.then(res => {
        if (`${window.location.origin}/cart/add.js`
          .includes(res.url) && res.url !== '') {
              addedToCart()
        }
      });
      return response
     }
  }(window, window.fetch));
  var klAjax = true;
  var atcButtons = document.querySelectorAll("form[action*='/cart/add'] button[type='submit']");
  for (var i = 0; i < atcButtons.length; i++) { 
    atcButtons[i].addEventListener("click", function() {
      if (klAjax) {
        _learnq.push(['track', 'Added to Cart', item]);
        klAjax = false;
      }
    })
  }
  });
      </script>
    {% endif %}

    <script>
      window.Shopify.theme.theme_store_id = 855;
    </script>
    {%- if settings.back_top == true -%}
      <back-to-top class="back-to-top">
        {%- render 'icon' with 'chevron-up', width: 24, direction_aware: true -%}
      </back-to-top>
    {%- endif -%}
  </body>
</html>
